<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ran.devx.peterobi_onenigeria">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.PeterObiOneNigeria"
        tools:targetApi="31">
        <activity
            android:name=".MerchShopActivity"
            android:exported="false"
            android:theme="@style/Theme.PeterObiOneNigeria.Popup"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4236283999178355~1692723914" />

        <activity
            android:name=".BigNewsActivity"
            android:exported="false"
            android:theme="@style/Theme.PeterObiOneNigeria.Fullscreen" />
        <activity
            android:name=".FullGalleryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:theme="@style/Theme.PeterObiOneNigeria.Fullscreen"
            tools:targetApi="24">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdatesActivity"
            android:exported="false"
            android:icon="@drawable/ic_launcher_foreground"
            android:label="@string/title_activity_tabbed" />

        <service
            android:name=".UpdateService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>